@{
    ViewBag.Title = "Home Page";
}
<div>
    <div class="col-md-12">
        <h1>Welcome to The World</h1>
        <p>This app will allow you to plan for world trip</p>
        <a asp-controller="App" asp-action="trips" class="btn btn-success">View My Trips</a>
    </div>
</div>